* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
    margin: auto;
}

body {
    background-color: #f3f5f7;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* 清除浮动 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom:1;
}

.header {
    height: 42px;
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: inline-block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    float: left;
    margin-left: 90px;
    width: 412px;
    height: 42px;
}

.search input {
    float: left;
    padding-left: 15px;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0px;
    color: #bfbfbf;
    font-size: 14px;
    outline: none;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    border: 0px;
    background: url(./images/btn.png);
}

.user {
    float: right;
    /* margin-top: 7px; */
    margin-right: 30px;
    height: 42px;
    line-height: 42px;
}

.user img {
    vertical-align: middle;
    border-radius: 14px 14px 14px 14px;
}

.user span {
    vertical-align: middle;
    color: #666666;
    font-size: 14px;
}

.banner {
    height: 421px;
    background-color: #1c036c;
}

.banner .w {
    height: 421px;
    background: url(./images/banner.png) no-repeat top center;
}

.subnav {
    float: left;
    width: 190px;
    height: 421px;
    background-color: rgba(0, 0, 0, 0.3);
}

.subnav ul li {
    padding: 0px 20px;
    height: 47px;
    line-height: 47px;
}

.subnav ul li a {
    font-size: 14px;
    color: #fff;
}

.subnav ul li a span {
    float: right;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.course {
    float: right;
    margin-top: 55px;
    height: 300px;
    width: 230px;
    background-color: #fff;
}

.course h2 {
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: #9bceea;
}

.course .body {
    margin: 0px 19px;
}

.course .body h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.course .body p {
    font-size: 12px; 
    color: #a5a5a5;
}

.course .body ul li {
    padding: 13px 0px;
    border-bottom: #eaeaea solid 1px;
}

.course .body .more {
    display: block;
    margin-top: 6px;
    border: #22b0ff solid 1px;
    background-color: #fff;
    color: #22b0ff;
    text-align: center;
    height: 38px;
    line-height: 38px;
}

.goods {
    margin-top: 8px;
    height: 60px;
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.1);
    line-height: 60px;
}

.goods h4 {
    float: left;
    margin-left: 30px;
    margin-right: 34px;
    font-size: 16px;
    color: #00a4ff;
}

.goods ul {
    float: left;
}
 
.goods ul li {
    float: left;
}

.goods ul li a {
    padding: 0 36px;
    border-left: 1px solid #bfbfbf;
    font-size: 16px;
    color: #000;
}

.goods .more {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}

.box {
    margin-top: 35px;
}

.box .box-hd {
    height: 42px;
}

.box .box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box .box-hd a {
    margin-top: 6px;
    margin-right: 30px;
    float: right;
    font-size: 12px;
    color: #a5a5a5;
}

.box-bd ul {
    width: 1215px;
}

.box-bd ul li {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
    height: 270px;
    background-color: #fff;
}

.box-bd ul li h4 {
    margin-top: 23px;
    margin-right: 18px;
    margin-left: 22px;
    font-size: 14px;
    color: #050505;
}

.box-bd ul li .info {
    margin-top: 18px;
    margin-right: 18px;
    margin-left: 22px;
    font-size: 12px;
    color: #999;
}

.box-bd ul li .info span {
    margin-top: 18px;
    margin-right: 18px;
    margin-left: 22px;
    font-size: 12px;
    color: #ff7c2d;
}

.footer {
    overflow: auto;
    height: 350px;
    background-color: #fff;
}

.footer .w {
    margin-top: 56px;
}

.footer .w .copyright {
    float: left;
}

.footer .w .copyright p {
    margin: 25px 0px 18px 0px;
    font-size: 12px;
    color: #666;
}

.footer .w .copyright a {
    display: block;
    border: 1px solid #00a4ff;
    width: 118px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color: #00a4ff;
}

.footer .w .links {
    float: right;
    padding-right: 30px;
}

.footer .w .links dl {
    float: left;
    margin-left: 120px;
}

.footer .w .links dt {
    font-size: 16px;
    color: #333;
}

.footer .w .links dd a {
    font-size: 12px;
    color: #333;
}
